{% extends "base.jinja2" %} {% block title %}About{% endblock %} {% block content
%}
<h1>About</h1>
<p>
  This is a simple web app that allows you to upload images and group them
  together.
</p>
{% endblock %}