<!DOCTYPE html>
<html>

<body>
  <div>
    <a href="{{url_for('main.index')}}">Index</a>
    |
    <a href="{{url_for('about.index')}}">About</a>
  </div>
  <title>{% block title %}{% endblock %}</title>
  {% block content %} {% endblock %}
</body>

</html>