{% extends "base.html" %}
{% block title %}Capturing Opportunities{% endblock %}

{% block content %}
<body>
  <form action="{{url_for('main.upload_training_images')}}" method="post" enctype="multipart/form-data">
    {{ training_images_form.hidden_tag() }}
    <h1>{{ training_images_form.images.label }}</h1>
    {{ training_images_form.images() }}
    {{ training_images_form.submit() }}
  </form>
  {% if training_images %}
    <h1>Training Images</h1>

    {% for image_filename in training_images %}
    <img
      src="{{ url_for('main.uploaded_file', folder='training_images_folder', filename=image_filename) }}"
      alt="{{ image_filename }}"
    />
    {% endfor %}
  {% endif %}

  <form action="{{url_for('main.upload_collection_images')}}" method="post" enctype="multipart/form-data">
    {{ image_collection_form.hidden_tag() }}
    <h1>{{ image_collection_form.images.label }}</h1>
    {{ image_collection_form.images() }}
    {{ image_collection_form.submit() }}
  </form>
  {% if image_collection %}
    <h1>Image Collection</h1>
    {% for image_filename in image_collection %}
    <img
      src="{{ url_for('main.uploaded_file', folder='image_collection_folder', filename=image_filename) }}"
      alt="{{ image_filename }}"
    />
    {% endfor %}
  {% endif %}
</body>
{% endblock %}
